.hero {
  color: #ffffff;
}

.hero__description {
  font-family: $title-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.hero__button {
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
