.main-nav__close-button {
  display: none;
}

.main-nav__toggle {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav {
  width: 24px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    min-width: 436px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 475px;
  }
}

.main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}
