.main-header {
  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.main-header__wrapper {
  padding: 13px 21px 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;


  @media (min-width: $tablet-width) {
    padding: 25px 25px 0 24px;
    font-family: $title-font;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    min-width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 190px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

